body {
  background-color: #000;
  color: #e0e0e0; /* Light grey for text */
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff; /* White for headings */
}

a {
  color: #6a63dd; /* Purple for links */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
}

blockquote {
  color: #ccc; /* Light grey for blockquotes */
  border-left: 4px solid #6a63dd; /* Purple border for blockquotes */
  padding-left: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.dark-mode-toggle:hover {
  background-color: #6a63dd;
}
